[submodule "mlbuf"]
	path = mlbuf
	url = https://github.com/adsr/mlbuf
[submodule "termbox"]
	path = termbox
	url = https://github.com/nsf/termbox
[submodule "uthash"]
	path = uthash
	url = https://github.com/troydhanson/uthash.git
